#rodape{
    margin-top: 3%;
}

#login{
   background: #339933;
   padding: 10%;
   border-radius: 10px;
   width: 50%;
   margin-top: 5%;
}

#botao-cadastro{
    margin-top: 10%;
    margin-left: 80%;
}